/* RESET */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* SCROLLING */
html {
    scroll-behavior: smooth;
}

/* FONT */
body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    /* Color styles */
    --dark-color:#141922;
    --dark-grey:#282828;
    --black:black;
    --white:white;
    --grey:#717171;
    --light-grey:#C1C1C1;
    --highlight:#ADFF2F;
}

/* WEBAPP WRAPPER */

.wrapper {
    width:100%;
    height:100vh;
    background-color: var(--black);
    color:var(--white);
    overflow:hidden;
}

main {
    width: 100%;
    height: calc(100% - 90px);
    background-color: var(--dark-color);
    overflow: hidden;
}

/* CONTROLBAR */

#controlbar {
    width: 100%;
    height: 90px;
    background-color: var(--dark-grey);
}